<a href="https://colab.research.google.com/github/hillwalking/2025-2-Data-Analysis/blob/main/ecomileage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import requests
import pandas as pd

url = 'http://openapi.seoul.go.kr:8088/6f546371447a6e6f3531544a726b62/json/energyUseDataSummaryInfo/1/1000'
# 서울시 에코마일리지 에너지 사용량 회원유형
# 딕셔녀리 형태 확인{'energyUseDataSummaryInfo': {'list_total_count', 'RESULT', 'row' }
# 한번에 1000개까지 호출

response = requests.get(url)
if response.status_code == 200:
    print('API 호출 성공')
    data = response.json()['energyUseDataSummaryInfo']['row']
    print(type(data))
    print(len(data))
    print(data[0])

else:
    print(f'API 호출 실패 : {response.status_code}')

df = pd.DataFrame(data)
df.head()

API 호출 성공
<class 'list'>
1000
{'YEAR': '2025', 'MON': '06', 'MM_TYPE': '개인', 'CNT': '1269454', 'EUS': '278745288', 'EUS1': '275851011', 'EUS2': '273151435', 'ECO2_1': '4244065', 'ECO2_2': '2076623.656', 'GUS': '13084768', 'GUS1': '11889039', 'GUS2': '12094650', 'GCO2_1': '1091102', 'GCO2_2': '2182204', 'WUS': '14927683.6', 'WUS1': '15166284.8', 'WUS2': '15371662.2', 'WCO2_1': '-341289.9', 'WCO2_2': '-611822.446', 'HUS': '379182.22', 'HUS1': '368839.049', 'HUS2': '389847.167', 'HCO2_1': '-160.888', 'HCO2_2': '-22448.67848156', 'REG_DATE': '2025-09-01 04:02:15.0'}

In [14]:
df = pd.DataFrame(data)
df.head()

,YEAR,MON,MM_TYPE,CNT,EUS,EUS1,EUS2,ECO2_1,ECO2_2,GUS,...,WUS1,WUS2,WCO2_1,WCO2_2,HUS,HUS1,HUS2,HCO2_1,HCO2_2,REG_DATE
0,2025,06,개인,1269454,278745288,275851011,273151435,4244065,2076623.656,13084768,...,15166284.8,15371662.2,-341289.9,-611822.446,379182.22,368839.049,389847.167,-160.888,-22448.67848156,2025-09-01 04:02:15.0
1,2025,06,학교,6745,117808793,114793127,114623246,3100606.5,3096973.668,2093441,...,1914804.2,1956560.2,-111344,-333633.134,8.03,8.03,8.03,0,0,2025-09-01 04:02:15.0
2,2025,06,공동주택관리소,3729,498863841,496003195,488758810,6482838.5,6482838.5,2853437,...,20616193.4,20794568.4,-297568.2,-892704.6,0,0,0,0,0,2025-09-01 04:02:15.0
3,2025,06,종교단체,849,6205342,6171454,6094109,72560.5,72560.5,139336,...,51779,49094,1791.5,5374.5,0,0,0,0,0,2025-09-01 04:02:15.0
4,2025,06,소상공인,53274,96254029,98122772,98464917,-2039815.5,-2043866.22,1638563,...,1541313.8,1576869.2,-32353.7,-97437.288,2,2,2,0,0,2025-09-01 04:02:15.0