<a href="https://colab.research.google.com/github/hillwalking/2025-2-Data-Analysis/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

In [5]:
numbers = [10, 20, 30, 40, 50, 60, 70]
# 첫 4개의 원소 출력
first_four = numbers[0:4]
print(first_four)
# 뒤 3개의 원소를 출력
last_three = numbers[-3:]
print(last_three)

[10, 20, 30, 40]
[50, 60, 70]

In [7]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 홀수번째 항목 출력
every_other_list = numbers[::2]
print(every_other_list)

# 역순 출력
reverse_list = numbers[::-1]
print(reverse_list)

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

In [10]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# 첫 두 행 출력
first_two_rows = matrix[:2]

print(first_two_rows)

# 첫 두 열 출력
first_two_columns = [row[:2] for row in matrix]

print(first_two_columns)
print (matrix[-1:])

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]
[[13, 14, 15, 16]]

## 2-2 리스트 컴프리헨션

In [13]:
numbers = [ ]

# 1 ~ 5 포함 리스트 생성
for i in range(5):
    numbers.append(i)
num2 = [number for number in range(10)]
print(numbers)
print(num2)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
numbers = [1, 2, 3, 4, 5]
squares = [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
for num in numbers:
  squares.append(num ** 2)

print(squares)
ten = [number * 10 for number  in numbers]
print(ten)

[1, 4, 9, 16, 25]
[10, 20, 30, 40, 50]

In [20]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [ ]

# 짝수만 추출한 리스트
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)

print(even_numbers)
odd_numbers = [ odd for odd in numbers if odd % 2 !=0]
print(odd_numbers)
nums = []
for even in even_numbers:
    for odd in odd_numbers:
        nums.append((even, odd))
print(nums)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[(2, 1), (2, 3), (2, 5), (2, 7), (2, 9), (4, 1), (4, 3), (4, 5), (4, 7), (4, 9), (6, 1), (6, 3), (6, 5), (6, 7), (6, 9), (8, 1), (8, 3), (8, 5), (8, 7), (8, 9), (10, 1), (10, 3), (10, 5), (10, 7), (10, 9)]

In [24]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함되 모든 원소를 조합한 투플의 리스트 생성
for fruit in list1:
    for product in list2:
        pairs.append((fruit, product))

print(pairs)
pp = [(product, fruit) for fruit in list1 for product in list2]
print(pp)
ppp = [(product, fruit) for product in list2 for fruit in list1 ]
print(ppp)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]
[('주스', '사과'), ('잼', '사과'), ('통조림', '사과'), ('주스', '복숭아'), ('잼', '복숭아'), ('통조림', '복숭아'), ('주스', '바나나'), ('잼', '바나나'), ('통조림', '바나나')]
[('주스', '사과'), ('주스', '복숭아'), ('주스', '바나나'), ('잼', '사과'), ('잼', '복숭아'), ('잼', '바나나'), ('통조림', '사과'), ('통조림', '복숭아'), ('통조림', '바나나')]

In [25]:
squares = { }

# 딕셔너리 생성
for i in range(5):
    squares[i] = i ** 2

print(squares)
dic = {i: i+55 for i in range(10)}
print(dic)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 55, 1: 56, 2: 57, 3: 58, 4: 59, 5: 60, 6: 61, 7: 62, 8: 63, 9: 64}

In [37]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}
city_population.setdefault('남양주', 74)
print(city_population)
print(city_population.values())

# 인구 200만명 이상의 도시 리스트
large_cities = {city: pop for city, pop in city_population.items() if pop >=200}
print(large_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트
large_short_name_cities = {san: three for san, three in city_population.items() if three >=300 and '산' in san}
print(large_short_name_cities)

scores = {'charles':45, 'young':49, 'gisu':38, 'minsu': 46}
percentage_old={}
for name, score in scores.items():
    percentage_old[name] = (score/50) *100
print(percentage_old)
percentage_high = { name:score*5 for name, score in scores.items() if score >=45}
print(percentage_high)

{'서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147, '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94, '남양주': 74}
dict_values([957, 339, 294, 242, 145, 147, 114, 36, 115, 103, 105, 108, 94, 74])
{'서울': 957, '부산': 339, '인천': 294, '대구': 242}
{'부산': 339}
{'charles': 90.0, 'young': 98.0, 'gisu': 76.0, 'minsu': 92.0}
{'charles': 225, 'young': 245, 'minsu': 230}

## 2-3 문자열 형식화

In [42]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# C 스타일 문자열 포매팅
# 이름, 나이, 월급 출력
print("이름 : %s, 나이 : %d, 월급 : %d" %(name, age, salary))
# 직원이름, 나이, 세후 월급 출력
print("이름 : %s, 나이 : %d, 세후월급 : %f" %(name, age, int(salary*(1-tax_rate))))

# 직원이름, 나이, 월급, 세금, 실수령액 추력
basic_format = '이름: {}, 나이: {}, 월급: {}원'.format(name, age, salary)
index_format = '직원{0}의 나이는 {1}이고, 세후 월급은 {2}원이다'.format(name, age, salary*(1-tax_rate))
keyword_format = '직원정보 이름: {employee} 나이: {years}세 월급: {income:,}원 세금: {tax:.1%} 실수령액: {net_income:,}원'.format(employee=name, years=age, income=salary, tax=tax_rate, net_income=int(salary*(1-tax_rate)))
print(basic_format)
print(index_format)
print(keyword_format)

이름 : 홍길동, 나이 : 30, 월급 : 3500000
이름 : 홍길동, 나이 : 30, 세후월급 : 3150000.000000
이름: 홍길동, 나이: 30, 월급: 3500000원
직원홍길동의 나이는 30이고, 세후 월급은 3150000.0원이다
직원정보 이름: 홍길동 나이: 30세 월급: 3,500,000원 세금: 10.0% 실수령액: 3,150,000원

In [48]:
name = '강감찬'
age = 50
salary = 8000000
tax_rate = 0.25

# str.format 문자열 포매팅
emp1 = '이름: {} 나이: {} 월급: {}'.format(name, age, salary)
print(emp1)

# f 포맷
print(f'이름:{name} 나이:{age} 세율:{tax_rate}')
keywordf= f'name: {name}  age: {age} salary: {salary:,} tax_rate: {tax_rate:.1%} net_income: {int(salary*(1-tax_rate)):,}'

print(keywordf)

이름: 강감찬 나이: 50 월급: 8000000
이름:강감찬 나이:50 세율:0.25
name: 강감찬  age: 50 salary: 8,000,000 tax_rate: 25.0% net_income: 6,000,000

In [ ]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# f-문자열 포매팅
# 이름, 나이, 월급 출력

# 직원이름, 나이, 세후 월급 출력

# 직원이름, 나이, 월급, 세금, 실수령액 추력


print(basic_format)
print(index_format)
print(keyword_format)

## 2-4 컨텍스트 관리

In [50]:
# 파일 오픈 & 클로즈
file = open('output.txt', 'w')
file.write('Hello, hello world!\n')
file.close()

In [51]:
# 복수개의 파일(읽기 & 쓰기) 관리
with open('output.txt', 'r') as in_file, open('input.txt','w') as out_file:
    for line in in_file:
        out_file.write(line.upper())

In [52]:
import urllib.request

# URL 연결 관리
with urllib.request.urlopen('https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv') as response:
    data = response.read( ).decode('utf-8')

print(data)

학번,이름,데이터베이스,파이썬,클라우드
101,김철수,85,78,92
102,이영희,76,82,78
103,박지민,92,95,85
104,최준서,63,70,75
105,정미나,88,84,91